body {
  font-family: Helvetica;
  text-align: center;
}

h1,
h2,
h3{
  font-weight: bold;
}

.nav {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}

.nav h1 {
  font-size: 70px; 
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px
}

h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
