body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: black;
  background-image: img src="./resources/images/the-flatiron-building.png";
}

.nav {
  font-size: 18px;
  color: black;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px
}

h4 {
  font-size: 23px;
  font-weight: bold;
  color: black;
}

.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
